<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
	<appSettings>
		<add key="Id" value="1" />
		<add key="HeartbeatInterval" value="10000" />
		<add key="HeartbeatPath" value="heartbeat" />
		<add key="CoordinatorAddress" value="http://192.168.1.201:80" />
		<add key="QueuesAndTopicsPath" value="queues-and-topics" />
	</appSettings>
</configuration>